
.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
}


/* navbar */

.navbox {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 25px;
    background-color: #ccc8c8;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbox .leftside span {
    font-size: 30px;
    font-weight: 500;
    margin-left: 20px;
}

.navbox .leftside img {
    width: 80px;
    height: 80px;
}

.navbox .rightside{
    display: flex;
}

.user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.navbox .rightside .navlinks {
    font-size: 12px;
    font-weight: 600;
    color: black;
    margin: auto 10px;
    text-decoration: none;
}

.navbox .rightside .relative {
    position: relative;
}

.navbox .rightside .relative .no-of-products {
    background: #f57224;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    padding: 2px;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    position: absolute;
    top: -5px;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn {
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(171, 174, 174);
    background-color: #2eca8b;
    margin-left: 10px;
}